:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: repeating-radial-gradient(ellipse, red, green, blue);
}

.navbar {
  position: fixed;
  align-items: center;
  background-color: rgb(0, 139, 120);
  top: 0;
  width: 100%;
  padding: 0.05em;
}
.navbar ul {
  display: flex;
  justify-content: center;
}

.navbar li {
  list-style-type: none;
}

.navbar li a:hover {
  background-color: darkslategrey;
}

.navbar a {
  display: inline;
  color: rgb(148, 11, 45);
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

/* h1 {
  text-align: center;
} */

#home {
  padding-top: 2em;
  display: block;
  text-align: center;
}

#about-us {
  padding-top: 2em;
  display: block;
  text-align: center;
}

#locations {
  padding-top: 2em;
  display: block;
  text-align: center;
}

#menu {
  padding-top: 2em;
  display: block;
  text-align: center;
}

#events {
  padding-top: 2em;
  display: block;
  text-align: center;
}

#hero {
  padding-top: 2em;
  display: block;
  text-align: center;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.column {
  width: 50%;
  padding-bottom: 3em;
}
.flex-container img {
  height: 200px;
  width: 200px;
}
.flex-container li {
  padding-top: 5em;
  padding-right: 5em;
}
